extends layout

block content
    h1 Welcome to hopistal
    .row
        .col-3 
            a.btn.btn-primary(href='/lobby') Lobby
        .col-3
            a.btn.btn-primary(href='/reception') Reception 
        .col-3
            a.btn.btn-primary(href='/doctor-room') Doctor Room
