extends layout

block content
    h2 Doctor room
    .doctor-room
        ul.list-group
            each doctor in doctors
                a(href='/doctor-room/'+doctor.id) 
                    li.list-group-item.d-flex.justify-content-between
                        span Doctor #{doctor.name}
                        span Slot : #{doctor.patients.length} / #{doctor.slotMax}
